/* Variables */
:root {
    --fuentePrincipal: 'Inter';

    --bgColor: #F3F5FC;
    --azul: #0A3871;
    --gris: #D8DFE8;
    --negro: #495057;
    --blanco: #FFFFFF;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */
body {
    font-family: var(--fuentePrincipal);
    background-color: var(--bgColor);
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
}

.margin {
    margin: 0;
}

/* Header */
.logo {
    padding: 2rem;
    background-color: aquamarine;
}

/* main */
.contenedor {
    background-color: aqua;
    width: 100%;
    height: 65rem;
    display: flex;
    flex-direction: column;
}

@media (min-width : 768px) {
    .contenedor {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
}

/* mensaje */
.contenido_original {
    background-color: cadetblue;
}

/* mensaje encriptado o desencriptado */
.contenido_resultado {
    background-color: var(--blanco);
    margin-top: 2.5rem;
    padding: 2rem;
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3rem;
}

.alerta {
    text-align: center;
    font-size: 1.5rem;
}

.imagen {
    width: 100%;
}

.mensajeResivido {
    font-size: 2.4rem;
    color: var(--negro);
}